#div1 {
	background-color: yellow;
	height: 500px;
	width: 600px;	
	/*position: relative;
	top: 200px;
	left: 100px;*/
}

#div2 {
	background-color: orange;
	height: 50px;
	width: 50px;

	position: fixed;
	bottom: 30px;
	right: 30px;
}