* {
    font-family: Tahoma, arial;
    font-size: 15px;    
}

body {
    margin: 0 12%;
}

header {
    height: 70px;
}

footer {
    height: 50px;
}

.logo {
    float: left;
}

.logo img {
    width: 60px;
    float: left;
}

.logo-text {
    float: left;
    margin: 20px 10px;
}

.slogan {
    background-color: #84aed7;
    border: 1px solid #000;
    color: #fff;
    padding: 5px 40px;    
}

.slogan blockquote {
    text-align: center;
    font-style: italic;
}

.slogan-author {
    text-align: right;
}

article {
    display: inline-block;
    width: 28%;
    height: 200px;
    margin: 12px;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 10px;
    overflow: auto;
}

.article-title {
    font-weight: bold;
    margin: 3px 0;
}

footer {
    text-align: center;
    background-color: #84aed7;
    border: 1px solid #000;
    color: #fff;
    padding: 5px 40px;    
}

.clear-both {
    clear: both;
}

.navigation {
  float: right;  
}

.navigation ul {  
  margin: 0;
  padding: 0;  
}
.navigation li {
  display: inline-block;
}
.navigation a {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  border-right: 1px solid rgba(0, 0, 0, .3);
  color: #fff;
  padding: 12px 20px;
  text-decoration: none;
}
.navigation a:hover {
  background: #314b60;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}
.navigation li:first-child a {
  border-radius: 4px 0 0 4px;
}
.navigation li:last-child a {
  border-right: 0;
  border-radius: 0 4px 4px 0;
}


